
    :root {
        --primary-color: #007bff;
        --secondary-color: #ffffff;
        --accent-color: #007bff;
        --text-color: #000000;
        --border-color: #bbbaba;
        --icon-color: #000000a9;
        --font-family:'Google Sans', 'Roboto', sans-serif;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--font-family);
    }

    .top-bar {
        font-weight: bold;
        position: fixed;
        top: 0;
        margin-bottom: 0px;
        background-color: var(--secondary-color);    
        border: var(--border-color) 1px solid;
        margin-left: 60px;
        width: 95.1vw;
        margin-right: 0px;    
        flex-direction: row;
        display: flex;
        user-select: none;
        align-items: center;
        justify-content:space-between;


    
        
    }
    #app-title  {
        font-size: 24px;
        font-family: 'ABeeZee', sans-serif;
        font-weight:bolder;
        padding: 10px;
        margin-left: 5px;
        color: var(--primary-color);


        
    }

    .top-bar .notification-top{
        visibility:hidden;
        display:flex;
        margin-right: 20px;
        color: var(--icon-color);

        
    }

    /* Desktop Responsive*/
    nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 60px;
        height: 100%;
        background: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid var(--border-color);
    }

    .nav-item {
        cursor: pointer;
        padding: 10px;
        user-select: none;
        height: fit-content;
        margin: 5px;
        color: var(--icon-color);
        margin-bottom: 15px;
        

    }
    .nav-item:hover {
        color: var(--primary-color);
        border-radius: 10px;
        transition: 0.3s;
    }
    /* selected icon should be change color to blue */
    .nav-item.selected {
        color: var(--primary-color);
    }
    .top-bar .notification-top.selected{
        color: var(--primary-color);

    }
    .main-body {
        margin-top: 50px;
        margin-left: 60px; 
        padding: 10px;
        border: var(--border-color) 1px solid;
        min-height: 100vh;

    }


    /*Mobile Responsive */
    @media (max-width: 600px) {
        nav {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: auto;
            width: 100%;
            height: 60px;
            background: var(--secondary-color);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-right: none;
            border-top: 1px solid var(--border-color);
        }
        .main-body {
            
            margin-left: 0;
            padding: 10px;
            padding-bottom: 80px;
            border: var(--border-color) 1px solid;
        }
        .top-bar{
            margin-left: 0px;   
            width: 100%;
    }

    .top-bar .notification-top{
        visibility:visible;
        display:flex;
        margin-right: 20px
        
    }
   
    

    }  